.navbar {
  top: 0;
  height: 100px;
  width: 100%;
  background-color: rgb(17, 93, 104);
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding: 0 5em;
}

.navbar h1 {
  color: aliceblue;
  &:hover {
    cursor: pointer;
  }
}

.login-error {
  color: red;
}
